[profile]
# Token value
token_value    = <your token value here>
node           = N000019
grid           = EM63fj
prefix         = ab4ej2
theStationID   = N000004
central_host   = pswsnetwork.caps.ua.edu

[mag_settings]
# obs format is OBSYYYY-MM-DDThh:mm
obs            = OBS2022-11-22T00:00
instrumentName = Mag3
throttle       = 100K 
orig_path      = /home/ab4ej/projects/rm3100-runMag/logs
temp_path      = /home/ab4ej/projects/rm3100-runMag/xferData
upload_path    = /media/ab4ej/seagate2/uploadTemp
targetDir      = magData
sleepTime      = 1800

[spectrum_settings]
obs            = OBS2022-12-13T20:00
instrumentName = Grape19
throttle       = 100K
source_path    = /media/ab4ej/RFdata/narrow21/
sleepTime      = 1800
